/* Formation.module.css */

.formationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px; /* Space between rows */
    perspective: 800px;
    transform-style: preserve-3d;
}

.row {
    transform: rotateX(20deg);
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between players */
}


