.player {
    width: clamp(3rem, 12vw, 120px);
    height: clamp(3rem, 16vh, 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    padding: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
    transform: rotateX(-20deg) translateX(100px);
    opacity: 0;
    animation: playerItemsSlide 1s ease-out forwards;
    cursor: pointer;
}

.player img {
    width: 60px;
    height: 60px;
}

.playerSelectiable {
    background-color: rgba(18, 237, 22, 0.15);
}

@keyframes playerItemsSlide {
    0% {
        transform: rotateX(-20deg) translateX(100px); /* Start off-screen */
        opacity: 0;
    }
    100% {
        transform: rotateX(-20deg) translateX(0);
        opacity: 1;
    }
}
