.defaultUl {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.defaultLi {
    border: 1px solid rgba(0, 0, 0, 0.75);
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    background-color: white;
    z-index: 1000;
}

.defaultLi:hover {
    animation: listItemHover ease-out 0.5s 1 alternate forwards;
}

@keyframes listItemHover {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(8%) translateY(6%);
    }
}
